# Auto detect text files and perform LF normalization
* text=auto

# Python
*.py text eol=lf

# Documentation
*.md text eol=lf
*.txt text eol=lf

# Images (binary)
*.png binary
*.jpg binary
*.gif binary
*.ico binary
